<span class="row-right wide-row  floating-panel-value">
    <select id='{{dropdownId}}' onchange="currentCimsvg().updateComponentRDF('{{classType}}', '{{parentRdfid}}', '{{attribute}}', this.value)" class="update-complex-type">
        {{#each aggregates}}
            <option type="{{../requestedType}}" value="{{value}}" {{#if disabled}} disabled="disabled" {{/if}} {{#if selected}} selected="selected" {{/if}} >{{label}}</option>
        {{/each}}
    </select>
    <button class="hiddenbutton"> + </button>
    <button class="hiddenbutton"> -> </button>
</span>
