<span class="row-right wide-row  floating-panel-value">
    <input value='{{value}}' id='{{dropdownId}}' type="number" step="any" onchange="currentCimsvg().updateComponent('{{type}}', '{{rdfid}}', '{{attribute}}', this.value)" class="update-float"/>
    <button class="hiddenbutton"> + </button>
    <button class="hiddenbutton"> -> </button>
</span>
