<span class="row-right wide-row  floating-panel-value">
    <select value="{{value}}" id="{{dropdownId}}" type="select" onchange="currentCimsvg().updateComponent('{{classType}}', '{{parentRdfid}}', '{{attribute}}', this.value)">
        <option>Select</label>
        {{#eq value "true"}}
            <option selected="selected" value="true">True</label>
        {{else}}
            <option value="true">True</label>
        {{/eq}}
        {{#eq value "false"}}
            <option selected="selected" value="false">False</label>
        {{else}}
            <option value="false">False</label>
        {{/eq}}
    </select>
    <button class="hiddenbutton"> + </button>
    <button class="hiddenbutton"> -> </button>
</span>
