<li class="wide-row list-subtitle">
    <span class="row-left floating-panel-name" type="text">{{name}}</span>
    <span class="row-right floating-panel-item">
        <button onclick="currentCimsvg().removeTerminal('{{type}}', '{{rdfid}}', '{{terminalId}}');currentCimsvg().populateTerminals('{{type}}', '{{rdfid}}')">  -  </button>
        <button onclick="currentCimsvg().populateAttributesIdOnly('{{terminalId}}')"> -> </button>
    </span>
</li>
