<span class="row-right wide-row  floating-panel-value">
    <input value='{{value}}' id='{{dropdownId}}' type="string" step="any" onchange="currentCimsvg().updateComponent('{{classType}}', '{{parentRdfid}}', '{{attribute}}', this.value)"/>
    <button class="hiddenbutton"> + </button>
    <button class="hiddenbutton"> -> </button>
</span>
