<div class="floating-panel-list">
    {{#sortEach this as |componentList typeName|}}
        <div class="wide-row list-subtitle">
            <button class="smallbutton" onclick="currentCimsvg().addRawComponent('{{typeName}}');"> + </button>
            <span class="button row-left" onclick="javascript:showContainer('all-components-{{typeName}}-accordion', null);">{{typeName}}</span>
        </div>
        <div id="all-components-{{typeName}}-accordion" class="component-accordion" style="display:none">
            <ul>
            {{#sortEachByIdentifiedObjectName this as |componentObject componentId|}}
                <li class="list-entry">
                <button id="{{componentId}}-all-components-button"
                        class="row button wide-button"
                        onclick="javascript:currentCimsvg().populateAttributes('{{typeName}}',
                    '{{componentId}}');">{{componentObject.[cim:IdentifiedObject.name]}}</button>
                </li>
            {{/sortEachByIdentifiedObjectName}}
            </ul>
        </div>
    {{/sortEach}}
</div>
