<ul class="floating-panel-list">
    {{#each Diagram as |value diagramId|}}
        {{#each components as |value typeName|}}
            {{#sortEachByPinturaLabel this as |value componentId|}}
                <li class="list-entry">
                    <button id="{{componentId}}-components-panel-button"
                        class="row button wide-button {{this.selected}}"
                        onclick="currentCimmenu().componentInstanceSelected(this, '{{typeName}}', '{{componentId}}');">
                            <span class="fa fa-cube">
                    </span>{{this.pintura:label.text}}</button>
                </li>
            {{/sortEachByPinturaLabel}}
        {{/each}}
    {{/each}}
</ul>
