<li class="wide-row floating-panel-item">
    <span class="row-left floating-panel-name">cim:Terminal</span>
    <span class="row-right wide-row  floating-panel-value">
        <input value="{{name}}" type="text"/>
            <button onclick="cimsvgClass.removeTerminal('{{type}}', '{{rdfid}}', '{{terminalId}}');cimsvgClass.populateTerminals('{{type}}', '{{rdfid}}')">  -  </button>
        <button onclick="populateAttributesIdOnly(cimsvgClass.getComponentAttributesNode(), '{{terminalId}}')"> -> </button>
    </span>
</li>
