<div id="diagram-add" class="wide-row list-title">
    <span class="button" onclick=currentCimsvg().addDiagram()>Add Diagram</span>
</div>
<ul class="floating-panel-list">
    {{#each Diagram as |value diagramId|}}
        <div class="wide-row list-title">
            <span class="button row-left" onclick="javascript:showContainer('{{diagramId}}-accordion', null);">Components in: {{pintura:name}}</span>
            <span class="row-right">
                <span id='{{diagramId}}-visibility-icon' class="button panel-button row-right" onclick="currentCimsvg().toggleDiagramVisible('{{diagramId}}', '{{diagramId}}-visibility-icon');">&#9728;</span>
                <span class="button panel-button row-right" onclick="javascript:currentCimsvg().setCurrentDiagramId('{{diagramId}}');currentCimsvg().populateComponentCreationMenu();currentCimsvg().showFloatingMenu()">&#43;</span>
            </span>
        </div>
        <div id="{{diagramId}}-accordion" class="component-accordion" style="display:none">
            {{#each components as |value typeName|}}
                <button class="row button wide-button list-subtitle" onclick="javascript:showContainer('{{diagramId}}-{{typeName}}-accordion', null);">{{typeName}}</button>
                <div id="{{diagramId}}-{{typeName}}-accordion" style="display:none">
                {{#each this as |value componentId|}}
                    <button id="{{componentId}}-sidebar-button" style="width:100%" class="button wide-button row list-entry"
                        onclick="currentCimsvg().populateAttributes('{{typeName}}', '{{componentId}}');">{{this.pintura:label.text}}</button>
                {{/each}}
                </div>
            {{/each}}
        </div>
    {{/each}}
</ul>
