<ul class="floating-panel-list">
    {{#each Diagram as |value diagramId|}}
        <div class="wide-row list-title">
            <span class="button row-left" onclick="javascript:showContainer('{{diagramId}}-accordion', null);">
                <span class="fa fa-sitemap"></span> Diagram: {{pintura:name}}</span>
            <div class="spacer"></div>
            <span id='{{diagramId}}-visibility-icon' class="button panel-button row-right" onclick="currentCimsvg().toggleDiagramVisible('{{diagramId}}', '{{diagramId}}-visibility-icon');">&#9728;</span>
            <span class="button panel-button row-right" onclick="javascript:currentCimsvg().setCurrentDiagramId('{{diagramId}}');currentCimsvg().populateComponentCreationMenu();currentCimsvg().showFloatingMenu()">&#43;</span>
        </div>
        <div id="{{diagramId}}-accordion" class="component-accordion" style="display:none">
            {{#each components as |value typeName|}}
                <div class="wide-row list-subtitle" onclick="javascript:showContainer('{{diagramId}}-{{typeName}}-accordion', null);">
                    <span class="button indent row-left"><span class="fa fa-cubes"></span>  {{typeName}}</span>
                </div>
                <ul id="{{diagramId}}-{{typeName}}-accordion" style="display:none">
                {{#each this as |value componentId|}}
                    <li id="{{componentId}}-sidebar-button" class="list-entry">
                        <button class="row button wide-button"
                        onclick="currentCimsvg().populateAttributes('{{typeName}}', '{{componentId}}');"><span class="fa fa-cube"></span>  {{this.pintura:label.text}}</button>
                    </li>
                {{/each}}
                </ul>
            {{/each}}
        </div>
    {{/each}}
</ul>
