<ul class="w3-ul" style="width:100%">
  {{#each Diagram}}
    <li id={{@key}}>{{pintura:name}} &#x2795; </li>
    {{#each components as |value typeName|}}
      {{#unless pintura:name}}
      <button class="row w3-btn w3-block w3-blue" onclick="javascript:showContainer('{{typeName}}-accordion', null);">{{typeName}}</button>
      <div id="{{typeName}}-accordion" style="display:none">
      {{#each this as |value id|}}
        <button class="row w3-btn w3-block w3-white" onclick="javascript:showContainer('{{id}}-accordion', null);">{{this.pintura:label.text}}</button>
      {{/each}}
      </div>
      {{/unless}}
    {{/each}}
  {{/each}}
</ul>
