<ul class="floating-panel-list">
    {{#each Diagram as |value diagramId|}}
        <div class="wide-row blue-grey-background">
            <span class="button blue-grey-background row-left" onclick="javascript:showContainer('{{diagramId}}-accordion', null);">Components in: {{pintura:name}}</span>
            <span class="blue-grey-background row-right">
                <span id='{{diagramId}}-visibility-icon' class="button panel-button blue-grey-background row-right" onclick="cimsvg.toggleDiagramVisible('{{diagramId}}', '{{diagramId}}-visibility-icon');">&#9728;</span><span class="button panel-button blue-grey-background row-right" onclick="javascript:cimsvg.setCurrentDiagramId('{{diagramId}}');showContainer('component-creation')">&#43;</span>
            </span>
        </div>
        <div id="{{diagramId}}-accordion" class="component-accordion" style="display:none">
            {{#each components as |value typeName|}}
                <button class="component-type-name row button wide-button dark-grey-background" onclick="javascript:showContainer('{{diagramId}}-{{typeName}}-accordion', null);">{{typeName}}</button>
                <div id="{{diagramId}}-{{typeName}}-accordion" style="display:none">
                {{#each this as |value componentId|}}
                    <button id="{{componentId}}-sidebar-button" style="width:100%" class="button wide-button row light-grey-background"
                        onclick="javascript:populateAttributes(cimsvg.getComponentAttributesNode(), '{{typeName}}', '{{componentId}}');showContainer('component-attributes', null, 'true', 'table');">{{this.pintura:label.text}}</button>
                {{/each}}
                </div>
            {{/each}}
        </div>
    {{/each}}
</ul>
