<ul class="w3-ul component-list">
  {{#each Diagram}}
    <li class="blue-grey-background">Components in Diagram: {{pintura:name}}</li>
    {{#each components as |value typeName|}}
      <button class="component-type-name w3-btn w3-block" onclick="javascript:showContainer('{{typeName}}-accordion', null);">{{typeName}}</button>
      <div id="{{typeName}}-accordion" style="display:none">
      {{#each this as |value id|}}
        <button style="width:100%" class="component-list-name w3-btn dark-background"
                onclick="javascript:populateAttributes('{{typeName}}', '{{id}}');showContainer('component-attributes', null, 'true');">{{this.pintura:label.text}}</button>
        <div id="{{id}}-accordion" style="display:none"></div>
      {{/each}}
      </div>
    {{/each}}
  {{/each}}
</ul>
