<ul class="w3-ul component-list">
  {{#each Diagram}}
    <li class="blue-grey-background">Components in Diagram: {{pintura:name}}</li>
    {{#each components as |value typeName|}}
      <button class="component-list-name row w3-btn w3-block dark-grey-background" onclick="javascript:showContainer('{{typeName}}-accordion', null);">{{typeName}}</button>
      <div id="{{typeName}}-accordion" style="display:none">
      {{#each this as |value id|}}
        <button id="{{id}}-sidebar-button" style="width:100%" class="row w3-btn w3-block light-grey-background"
                onclick="javascript:populateAttributes('{{typeName}}', '{{id}}');showContainer('component-attributes', null, 'true');">{{this.pintura:label.text}}</button>
      {{/each}}
      </div>
    {{/each}}
  {{/each}}
</ul>
