<ul class="floating-panel-list">
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.baseUML</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.baseUML] 'cim:String' 'cim:GeographicalLocationVersion.baseUML' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.baseURI</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.baseURI] 'cim:String' 'cim:GeographicalLocationVersion.baseURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.date</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.date] 'cim:Date' 'cim:GeographicalLocationVersion.date' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.differenceModelURI</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.differenceModelURI] 'cim:String' 'cim:GeographicalLocationVersion.differenceModelURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.entsoeUML</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.entsoeUML] 'cim:String' 'cim:GeographicalLocationVersion.entsoeUML' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.entsoeURI</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.entsoeURI] 'cim:String' 'cim:GeographicalLocationVersion.entsoeURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.modelDescriptionURI</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.modelDescriptionURI] 'cim:String' 'cim:GeographicalLocationVersion.modelDescriptionURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.namespaceRDF</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.namespaceRDF] 'cim:String' 'cim:GeographicalLocationVersion.namespaceRDF' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.namespaceUML</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.namespaceUML] 'cim:String' 'cim:GeographicalLocationVersion.namespaceUML' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:GeographicalLocationVersion.shortName</span>

        {{{getAggregateComponentMenu 'cim:GeographicalLocationVersion' [pintura:rdfid] [cim:cim:GeographicalLocationVersion.shortName] 'cim:String' 'cim:GeographicalLocationVersion.shortName' }}}

    </li>
    <li class="wide-row floating-panel-item list-subtitle">
        <span class="row-left floating-panel-name">Show Terminals</span>
        <span class="row-right floating-panel-value">
            <button onclick="currentCimsvg().populateTerminals('cim:GeographicalLocationVersion', '{{{[pintura:rdfid]}}}')">
                           -&gt;
            </button>
        </span>
    </li>
</ul>
