<ul class="floating-panel-list">
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:Location.CoordinateSystem</span>

        {{{getAggregateComponentMenu 'cim:Location' [pintura:rdfid] [cim:cim:Location.CoordinateSystem] 'cim:CoordinateSystem' 'cim:Location.CoordinateSystem' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:Location.PowerSystemResources</span>

        {{{getAggregateComponentMenu 'cim:Location' [pintura:rdfid] [cim:cim:Location.PowerSystemResources] 'cim:PowerSystemResource' 'cim:Location.PowerSystemResources' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:Location.PositionPoints</span>

        {{{getAggregateComponentMenu 'cim:Location' [pintura:rdfid] [cim:cim:Location.PositionPoints] 'cim:PositionPoint' 'cim:Location.PositionPoints' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.mRID</span>

        {{{getAggregateComponentMenu 'cim:Location' [pintura:rdfid] [cim:cim:IdentifiedObject.mRID] 'cim:String' 'cim:IdentifiedObject.mRID' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.name</span>

        {{{getAggregateComponentMenu 'cim:Location' [pintura:rdfid] [cim:cim:IdentifiedObject.name] 'cim:String' 'cim:IdentifiedObject.name' }}}

    </li>
    <li class="wide-row floating-panel-item list-subtitle">
        <span class="row-left floating-panel-name">Show Terminals</span>
        <span class="row-right floating-panel-value">
            <button onclick="currentCimsvg().populateTerminals('cim:Location', '{{{[pintura:rdfid]}}}')">
                           -&gt;
            </button>
        </span>
    </li>
</ul>
