<ul class="floating-panel-list">
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:PositionPoint.Location</span>

        {{{getAggregateComponentMenu 'cim:PositionPoint' [pintura:rdfid] [cim:cim:PositionPoint.Location] 'cim:Location' 'cim:PositionPoint.Location' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:PositionPoint.sequenceNumber</span>

        {{{getAggregateComponentMenu 'cim:PositionPoint' [pintura:rdfid] [cim:cim:PositionPoint.sequenceNumber] 'cim:Integer' 'cim:PositionPoint.sequenceNumber' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:PositionPoint.xPosition</span>

        {{{getAggregateComponentMenu 'cim:PositionPoint' [pintura:rdfid] [cim:cim:PositionPoint.xPosition] 'cim:String' 'cim:PositionPoint.xPosition' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:PositionPoint.yPosition</span>

        {{{getAggregateComponentMenu 'cim:PositionPoint' [pintura:rdfid] [cim:cim:PositionPoint.yPosition] 'cim:String' 'cim:PositionPoint.yPosition' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:PositionPoint.zPosition</span>

        {{{getAggregateComponentMenu 'cim:PositionPoint' [pintura:rdfid] [cim:cim:PositionPoint.zPosition] 'cim:String' 'cim:PositionPoint.zPosition' }}}

    </li>
    <li class="wide-row floating-panel-item list-subtitle">
        <span class="row-left floating-panel-name">Show Terminals</span>
        <span class="row-right floating-panel-value">
            <button onclick="currentCimsvg().populateTerminals('cim:PositionPoint', '{{{[pintura:rdfid]}}}')">
                           -&gt;
            </button>
        </span>
    </li>
</ul>
