<ul class="floating-panel-list">
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:DCBaseTerminal.DCTopologicalNode</span>

        {{{getAggregateComponentMenu 'cim:DCTerminal' [pintura:rdfid] [cim:cim:DCBaseTerminal.DCTopologicalNode] 'cim:DCTopologicalNode' 'cim:DCBaseTerminal.DCTopologicalNode' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.description</span>

        {{{getAggregateComponentMenu 'cim:DCTerminal' [pintura:rdfid] [cim:cim:IdentifiedObject.description] 'cim:String' 'cim:IdentifiedObject.description' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.energyIdentCodeEic</span>

        {{{getAggregateComponentMenu 'cim:DCTerminal' [pintura:rdfid] [cim:cim:IdentifiedObject.energyIdentCodeEic] 'cim:String' 'cim:IdentifiedObject.energyIdentCodeEic' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.mRID</span>

        {{{getAggregateComponentMenu 'cim:DCTerminal' [pintura:rdfid] [cim:cim:IdentifiedObject.mRID] 'cim:String' 'cim:IdentifiedObject.mRID' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.name</span>

        {{{getAggregateComponentMenu 'cim:DCTerminal' [pintura:rdfid] [cim:cim:IdentifiedObject.name] 'cim:String' 'cim:IdentifiedObject.name' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:IdentifiedObject.shortName</span>

        {{{getAggregateComponentMenu 'cim:DCTerminal' [pintura:rdfid] [cim:cim:IdentifiedObject.shortName] 'cim:String' 'cim:IdentifiedObject.shortName' }}}

    </li>
    <li class="wide-row floating-panel-item list-subtitle">
        <span class="row-left floating-panel-name">Show Terminals</span>
        <span class="row-right floating-panel-value">
            <button onclick="currentCimsvg().populateTerminals('cim:DCTerminal', '{{{[pintura:rdfid]}}}')">
                           -&gt;
            </button>
        </span>
    </li>
</ul>
