<ul class="floating-panel-list">
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.baseUML</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.baseUML] 'cim:String' 'cim:TopologyVersion.baseUML' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.baseURI</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.baseURI] 'cim:String' 'cim:TopologyVersion.baseURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.date</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.date] 'cim:Date' 'cim:TopologyVersion.date' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.differenceModelURI</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.differenceModelURI] 'cim:String' 'cim:TopologyVersion.differenceModelURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.entsoeUML</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.entsoeUML] 'cim:String' 'cim:TopologyVersion.entsoeUML' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.entsoeURI</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.entsoeURI] 'cim:String' 'cim:TopologyVersion.entsoeURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.modelDescriptionURI</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.modelDescriptionURI] 'cim:String' 'cim:TopologyVersion.modelDescriptionURI' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.namespaceRDF</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.namespaceRDF] 'cim:String' 'cim:TopologyVersion.namespaceRDF' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.namespaceUML</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.namespaceUML] 'cim:String' 'cim:TopologyVersion.namespaceUML' }}}

    </li>
    <li class="wide-row floating-panel-item list-entry">
        <span class="row-left floating-panel-name">cim:TopologyVersion.shortName</span>

        {{{getAggregateComponentMenu 'cim:TopologyVersion' [pintura:rdfid] [cim:cim:TopologyVersion.shortName] 'cim:String' 'cim:TopologyVersion.shortName' }}}

    </li>
    <li class="wide-row floating-panel-item list-subtitle">
        <span class="row-left floating-panel-name">Show Terminals</span>
        <span class="row-right floating-panel-value">
            <button onclick="currentCimsvg().populateTerminals('cim:TopologyVersion', '{{{[pintura:rdfid]}}}')">
                           -&gt;
            </button>
        </span>
    </li>
</ul>
